<!DOCTYPE html>
<html>
  <head>

    <title> Hello Node</title>
  </head>
  <body>
  <div>
    <li class="active"><a href="/">首页</a></li>
  <% if(user.length==0){%>
      <a href="/reg">注册</a>
      <a href="/login">登录</a>
   <% }else{ %>
       <a href="/exit">退出</a>
    <% } %>
  </div>
  <% if(error){%>
  <div id="error">
    <%= error %>
  </div>
  <%}%>
  <% if(success){%>
  <div d="success">
    <%= success %>
  </div>
  <%}%>


