<% include header.ejs%>
<form method="post">
    用户名：<input type="text" id="name" name="name"/>
    密码：<input type="password" id="pwd" name="pwd"/>
    重复密码:<input type="password" id="repwd" name="repwd"/>
    <button type="submit">注册</button>
</form>
</body>
</html>